.flag-authors {
  margin-top: 1rem;
  background-color: #df2c2c;
}

.flag-authors:hover, 
.flag-authors:active,
.flag-authors:focus {
  background-color: #ce2424;
}

.reasons-list {
  list-style: decimal !important;
  margin-left: 15px !important;
  margin-top: 1rem;
}

.reasons-form textarea {
  margin: 1rem 0 .8rem 0
}